@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;

    --white: #ffffff;
    --black: #000000;

    --blue: #0E6EF0;
    --light-blue: #52E3FE;
    --green: #c2ee21;
    --gray:#E2E0E0;
    --light-gray: #F5F5F5;

    --red: #F3675E;
    --light-red: #fcd7d4;

    --orange: #FF9F43;
    --light-orange: #FFF0DE;

    --text-light: #0C1D36;
    --text-gray: #B6BBC3;

    --box-shadow-light: 0px 1px 8px rgba(12, 29, 54, 0.20);
    --gradient-start-light: #0762EF;
    --gradient-end-light: #52E3FE;
    --active-gradient-start-light: #82B3FF;
    --active-gradient-end-light: #8FEDFF;

    --gap: 8px;

    --modal-background-light: rgba(12, 29, 54, 0.30);
}

:root {
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;

    --background-color: var(--white);
    --text-color: var(--text-light);
    --modal-background-color: var(--modal-background-light);

    --box-shadow: var(--box-shadow-light);
    --border-radius: 12px;

    --horizotal-gradient: linear-gradient(to right, var(--gradient-start-light), var(--gradient-end-light));
    --horizotal-gradient-active: linear-gradient(to right, var(--active-gradient-start-light), var(--active-gradient-end-light));

    --gradient: linear-gradient(to top right, var(--gradient-start-light), var(--gradient-end-light));

    --input-padding: 10px;
    --padding: 12px;

    --font-weight-regular: 300;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* TODO adjust all colors for dark theme */
        /* --color-background: var(--black); */
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background: var(--background-color);

    /* Font */
    color: var(--text-color);
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);

    transition: color 0.5s,
    background-color 0.5s;
}

h1 {
    margin: 0 0 12px 0;
    font-size: 20px;
}

p {
    margin: 0;
}
